$primaryColor: #e21c44;
$secondaryColor: #140c44;
$backgroundColor: #f3f3f3;
$alternative: #2c3393;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $backgroundColor;
  color: $secondaryColor;
}

body,
input,
button,
textarea {
  font: 400 16px 'Roboto', sans-serif;
}
